<div class="card card-default markdown-editor">
    <div class="card-body markdown-editor">
      
      <div class="markdown-controls">
  
          
          {{#if this.previewText}}
             <button class="markdown-control-toggle" {{on 'click' this.preview}}>Write</button>
             <button class="markdown-control-toggle active">Preview</button>
          {{else}}
             <button class="markdown-control-toggle active">Write</button>
             <button class="markdown-control-toggle" {{on 'click' this.preview}}>Preview</button>
          {{/if}}
          
          <TooltipButton @position="left" @message="Formatting help." @icon="fa-utility-fill fa-semibold fa-question-circle" @route="help-topic" @model="markdown" @target="_blank" />
    
          <TooltipButton @position="left" @message="Emoji help." @icon="fa-utility-fill fa-semibold fa-face-laugh" @route="emoji" @target="_blank" />
                              
          <TooltipButton @onClick={{this.toggleToolbar}} @position="left" @message="Show/hide toolbar." @icon="fa-utility-fill fa-semibold fa-ellipsis" />   
    </div>
    
    <div class="markdown-format-controls {{if (not this.toolbarVisible) 'hidden'}}">
      <button {{on 'click' this.onBold}}>
        <TooltipIcon @position="top" @message="Bold" @icon="fa-utility-fill fa-semibold fa-bold" />
      </button>
      <button {{on 'click' this.onItalic}}>
        <TooltipIcon @position="top" @message="Italic" @icon="fa-utility-fill fa-semibold fa-italic" />
      </button>
      <button {{on 'click' this.onHeading}}>
       <TooltipIcon @position="top" @message="Heading" @icon="fa-solid fa-h" />
      </button>
      <button {{on 'click' this.onBulletList}}>
        <TooltipIcon @position="top" @message="Bulleted List" @icon="fa-utility-fill fa-semibold fa-list-ul" />
      </button>
      <button {{on 'click' this.onOrderedList}}>
        <TooltipIcon @position="top" @message="Numbered List" @icon="fa-utility-fill fa-semibold fa-list-ol" />
      </button>
      <div class="markdown-control-divider">|</div>
      <button {{on 'click' this.onLink}}>
        <TooltipIcon @position="top" @message="Link" @icon="fa-utility-fill fa-semibold fa-link" />
      </button>
      <button {{on 'click' this.onImage}}>
        <TooltipIcon @position="top" @message="Image" @icon="fa-utility-fill fa-semibold fa-image" />
      </button>
      <div class="markdown-control-divider">|</div>
      <button {{on 'click' this.onTable}}>
        <TooltipIcon @position="top" @message="Table" @icon="fa-utility-fill fa-semibold fa-grid-2" />
      </button>
      <button {{on 'click' this.onLine}}>
        <TooltipIcon @position="top" @message="Line" @icon="fa-utility-fill fa-semibold fa-minus" />
      </button>
      <button {{on 'click' this.onTabs}}>
        <TooltipIcon @position="top" @message="Tabs" @icon="fa-utility-fill fa-semibold fa-folder-plus" />
      </button>
      <div class="markdown-control-divider">|</div>
      <button {{on 'click' this.onCode}}>
        <TooltipIcon @position="top" @message="Code" @icon="fa-utility-fill fa-semibold fa-code" />
      </button>
      <button {{on 'click' this.onCodeBlock}}>
        <TooltipIcon @position="top" @message="Code Block" @icon="fa-utility-fill fa-semibold fa-rectangle-code" />
      </button>
    </div>

{{#if this.previewText}}
  <div class="markdown-preview">
    <AnsiFormat @text={{this.previewText}} />
  </div>
{{else}}
  <Textarea id="editor-area" 
    @value={{this.text}} 
    cols={{80}} 
    rows={{this.rows}} 
    @keydown={{this.keyDown}} 
    aria-label="Markdown Editor">      
  </Textarea>
{{/if}}

</div>
</div>
